div.calculator-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 16px;
  align-items: center;

  div.calculator-form-card {
    max-width: 480px;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    justify-self: flex-end;

    div.form-title {
      display: grid;
      place-content: center;
    }

    div.form-body {
      mat-form-field {
        position: relative;
        width: 100%;

        div.form-field {
          &#loans {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }

        div.form-field-label {
          font-size: 12px;
          &#loans-label {
            font-size: 16px;
          }
        }

        div.form-field-value {
          font-size: 24px;
          line-height: normal;
        }

        input {
          &#income,
          &#expense,
          &#loans-input {
            display: none;
          }
        }

        mat-slider {
          width: 100%;
        }

        div.form-range-holder {
          position: absolute;
          bottom: -10px;
          left: 0px;
          right: 0px;

          display: flex;
          justify-content: space-between;
          align-items: center;

          font-size: 14px;
          color: #aaaaaa;
        }
      }
    }
  }

  div.calculator-summary-card {
    display: grid;
    place-content: center;
    grid-gap: 16px;

    padding: 96px 0px;
    border-radius: 0px 20px 20px 0px;

    div.summary-field {
      div.summary-field-label {
        p {
          text-align: center;
          font-size: 14px;
        }
      }

      div.summary-field-value {
        p {
          text-align: center;
          font-size: 24px;
        }
      }
      button {
        font-size: 20px;
        line-height: normal;
        min-height: 48px;
        border-radius: 24px;

        background: #ffffff;

        transition: 500ms;
        &:hover {
          background: transparent
            linear-gradient(90deg, #9f62c9 0%, #663399 100%) 0% 0%
            no-repeat padding-box;
          color: #ffffff;
        }
      }
    }
  }
}
