<ng-container *ngIf="!!assets; else noBanner">

  <div class="banner-container">

    <div class="banner-title">
      <p>{{ assets.title }}</p>
    </div>

    <div class="banner-separator"></div>

    <div class="banner-image">
      <img [src]="assets.image.src"
           [alt]="assets.image.alt">

      <div class="banner-dots">
        <img [src]="assets.dots.src"
             [alt]="assets.dots.alt">
      </div>
    </div>


  </div>
</ng-container>

<ng-template #noBanner>
  <div class="banner-container">
    <p>Dummy Banner</p>
  </div>
</ng-template>
