<div class="app-container">

  <div class="app-navbar-holder mat-elevation-z6">
    <app-navbar-container [assets]="assets.navbar"></app-navbar-container>
  </div>

  <div class="app-body-holder">
    <div class="app-top-holder">

      <div class="app-banner-holder">
        <app-banner-container [assets]="assets.banner"></app-banner-container>
      </div>

      <div class="app-calculator-holder">
        <app-calculator-container [assets]="assets.calculator"></app-calculator-container>
      </div>

    </div>
    <div class="app-bottom-holder">

      <div class="app-features-holder">
        <app-features-container [assets]="assets.features"></app-features-container>
      </div>

      <div class="app-account-holder">
        <app-account-container [assets]="assets.account"></app-account-container>
      </div>

    </div>
  </div>

</div>
